* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background-image: url("images/space_trimmed.png");
  background-size: cover;
}

header {
  color: blanchedalmond;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  background-color: rgba(118, 118, 224, 0.2);
}

main {
  color: blanchedalmond;
  min-height: 70vh;
  margin: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}

main > img {
  z-index: 1;
  max-width: 90vw;
  height: auto;
  margin: auto;
}

#cookienaut:hover {
  -webkit-filter: drop-shadow(5px 5px 5px white)
    drop-shadow(-5px -5px 5px white);
  filter: drop-shadow(5px 5px 5px white) drop-shadow(-5px -5px 5px white);
}

#score-info {
  margin: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
}

#shop-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  color: hsl(49, 100%, 97%);
}

.upgrade {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 2px;
}
