* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url("images/space_trimmed.png");
  background-size: cover;
}

header {
  width: 100%;
  height: 8vh;
  background-color: rgb(10, 10, 41);
  display: flex;
  justify-content: space-evenly;
}

#logo2 {
  width: 100%;
  height: auto;
  min-width: 20px;
  aspect-ratio: 4 / 3;
}

h1 {
  color: rgba(118, 118, 224, 0);
}

header > img {
  width: 80%;
}

main {
  color: rgb(255, 247, 235);
  max-height: 70vh;
  margin: 10px;
  display: grid;
  grid-template-rows: 5rem 1fr 1fr;
}

main > img {
  z-index: 1;
  max-width: 90vw;
  height: auto;
  margin: auto;
  padding-right: 10px;
}

#cookienaut:active {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.7))
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7));
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.7))
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7));
}

#score-info {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 20px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  font-family: "Pixelify Sans";
  font-weight: 00;
}

#shop-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15x;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  color: hsl(49, 100%, 97%);
  font-family: "Pixelify Sans";
  font-size: 0.7rem;
  font-weight: 100;
}

.upgrade {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 2px;
  max-width: 45%;
  max-height: 50px;
}

footer {
  color: blanchedalmond;
  width: 100%;
  height: 10vh;
  overflow: hidden;
}

@media (min-width: 800px) {
  #shop-container {
    font-size: 1rem;
  }
  #score-info {
    font-size: 1.6rem;
  }
}
