* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 80%;
  background-image: url("images/space_trimmed.png");
  background-size: cover;
}

header {
  color: blanchedalmond;
  width: 100%;
  height: 10vh;
  overflow: hidden;
  background-color: rgba(118, 118, 224, 0.2);
  align-items: center;
}

h1 {
  color: rgba(118, 118, 224, 0);
}

header > img {
  width: 80%;
}

main {
  color: rgb(255, 247, 235);
  max-height: 70vh;
  margin: 10px;
  display: grid;
  grid-template-rows: 5rem 1fr 1fr;
}

main > img {
  z-index: 1;
  max-width: 90vw;
  height: auto;
  margin: auto;
  padding-right: 10px;
}

#cookienaut:hover {
  -webkit-filter: drop-shadow(5px 5px 5px white)
    drop-shadow(-5px -5px 5px white);
  filter: drop-shadow(5px 5px 5px white) drop-shadow(-5px -5px 5px white);
}

#score-info {
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  gap: 15px;
  margin: 15px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
}

#shop-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  /* flex-shrink: 1; */
  margin: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  color: hsl(49, 100%, 97%);
}

.upgrade {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 2px;
  max-width: 45%;
  max-height: 50px;
}

footer {
  color: blanchedalmond;
  width: 100%;
  height: 10vh;
  overflow: hidden;
}
