* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.font-white {
  color: white;
}

.font-colour1 {
  color: rgb(151, 231, 255);
}

.font-colour2 {
  color: rgb(178, 253, 66);
}

body {
  min-height: 100vh;
  /* width: 100%; */
  background-image: url("images/space_trimmed.png");
  background-size: cover;
}

header {
  width: 100%;
  height: 8vh;
  background-color: rgb(10, 10, 41);
  display: flex;
  justify-content: space-around;
  align-content: center;
}

#logo2 {
  width: 100%;
  height: auto;
  min-width: 20px;
  aspect-ratio: 4 / 3;
}

h1 {
  color: rgba(118, 118, 224, 0);
}

header > img {
  width: 90%;
  max-width: 600px;
}

main {
  color: rgb(255, 247, 235);
  height: 100%;
  width: auto;
  margin: 10px;
  display: grid;
  grid-template-rows: 5rem 4fr 5fr;
}

main > img {
  max-width: 90vw;
  height: auto;
  margin: auto;
  padding-right: 10px;
}

#cookienaut:active {
  -webkit-filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.7))
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7));
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.7))
    drop-shadow(-5px -5px 5px rgba(255, 255, 255, 0.7));
}

#score-info {
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin: 20px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  font-weight: 00;
}

#shop-container {
  display: flex;
  gap: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(118, 118, 224, 0.2);
  font-size: 0.7rem;
  font-weight: 100;
  overflow: hidden;
}

.upgrade {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
  max-width: 45%;
  max-height: 50px;
}

footer {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  color: blanchedalmond;
  width: 100%;
  height: 12vh auto;
  background-color: rgba(0, 0, 0, 0);
  /* overflow: hidden; */
}

footer > button {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  background-color: rgba(12, 27, 75, 0.6);
  margin: solid 2px rgba(0, 0, 0, 0.3);
  min-width: 15vw;
  height: 20px;
  padding: 2px;
  margin-top: -15px;
}

.guide-box {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  margin-top: 3rem;
  background-color: rgb(8, 8, 50);
  font-size: 1.2rem;
  color: rgb(151, 231, 255);
}

.empty {
  height: 3rem;
}

.options-div {
  display: flex;
  flex-direction: column;
}

#option-white {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  height: 5vh;
}

#option-colour {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(186, 254, 67);
  height: 5vh;
}

.exit-button {
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #c60118;
}

@media (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: auto;
  }

  main > img {
    padding-top: 15vh;
  }

  #score-info {
    padding-top: 10px;
    flex-direction: column;
    gap: 30px;
    min-height: 70vh;
    font-size: 1.5rem;
  }
  #shop-container {
    min-height: 80vh;
    gap: 2px;
    font-size: 1.1rem;
  }
  .upgrade {
    min-height: 15%;
  }
  footer > button {
    margin-top: -5px;
  }

  .guide-box {
    font-size: 1.8rem;
  }
  #option-white {
    height: 10vh;
    margin: 5px;
  }
  #option-colour {
    height: 10vh;
    margin: 5px;
  }
  .exit-button {
    height: 10vh;
    margin: 5px;
  }
  #guide-button {
    height: 2.2rem;
    font-size: 1.6rem;
  }
}
